.budgetcolumn-base {
	/* background-color: white; */
	width: 25%;
	display: flex;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;
	padding: 20px;
}

.budgetcolumn-tblock {
	background-color: var(--column-tblock-color);
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 10px;

	border-radius: var(--column-border-radius);
	border-width: var(--column-border-width);
	border-style: var(--column-border-style);
	border-color: var(--column-border-color);
}

.budgetcolumn-tr {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.budgetcolumn-title {
	font-weight: bold;
	font-size: var(--column-title-font-size);
}

.budgetcolumn-figure {
	font-size: var(--column-figure-font-size);
}
