.calendargrid {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2px;
	box-sizing: border-box;
}

.calendargrid-days-in-week {
	/* background-color: red; */
	font-weight: bold;
	flex: 0 0 calc(100% / 7 - 4px);
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	height: 25px;
}
