.calendar-base {
  background-color: var(--calendar-base-bg-color);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: var(--base-font-family);
}

.calendar-header {
  background-color: var(--calendar-header-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--calendar-header-height);
  font-size: 0.85rem;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 10;
  gap: 30px;
}

.calendar-month {
  display: flex;
  justify-content: center;
  width: 15%;
}

.calendar-nav-btn {
  font-family: var(--btn-font-family);
  background-color: var(--btn-bg-color);
  border-radius: var(--btn-border-radius);
  border-width: var(--btn-border-width);
  border-style: var(--btn-border-style);
  border-color: var(--btn-border-color);
  height: 40%;
  width: 2%;
  font-weight: var(--btn-font-weight);
  color: var(--btn-text-color);
}

.calendar-nav-btn:hover {
  cursor: pointer;
  color: var(--btn-hover-text-color);
  background-color: var(--btn-hover-bg-color);
}

.calendar-body {
  /* background-color: yellow; */
  width: 100%;
  flex: 1;
  display: flex;
  align-self: center;
}
