.calendarcell-base {
	background-color: #ffffff;
	padding: 12px 0;
	cursor: pointer;
	flex: 0 0 calc(100% / 7 - 4px);
	min-height: 13%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

.calendarcell-base:hover {
	background-color: #c9d9eb;
}

.calendarcell-dimmed {
	color: #aaa;
	background-color: #eee;
}

.calendarcell-header {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 4px;
	text-align: center;
}

.calendarcell-body {
	background-color: red;
	flex: 1;
	overflow-y: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.calendarcell-tr {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.calendarcell-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #333;
	font-size: 1em;
	/* padding-top: 5px; */
}
