.calendarcell-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.calendarcell-content {
	background-color: white;
	padding: 2rem;
	border-radius: 12px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
	width: 30%;
	height: 70%;
	max-width: 90%;
	display: flex;
	flex-direction: column;
}

.calendarcellform-base {
	background-color: rgb(214, 209, 209);
	padding: 40px;
	height: 80%;
	/* width: 50%; */
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	box-sizing: border-box;
	border-radius: 10px;
}

.calendarcellform-tr {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: transparent;
	padding: 0.125rem 0.25rem;
	align-items: center;
	text-align: center;
	flex-shrink: 0;
}

.calendarcellform-td {
	padding: 0.5rem 1.5rem;
	text-align: center;
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;
	font-size: var(--calendarcellform-body-text-size);
	color: #000;
}

.expense-category {
	font-weight: normal;
	color: #222;
}

.expense-amount {
	display: flex;
	justify-content: flex-end;
	gap: 3rem;
}

.delete-expense {
	height: 20px;
	width: 20px;
}

.delete-expense:hover {
	cursor: pointer;
	transform: rotate(-10deg);
}

.delete-expense:active {
	transform: translateY(2px);
}

.calendarcellform-body {
	width: 100%;
	/* background-color: red; */
	flex: 1;
}

.calendarcellform-footer {
	/* background-color: green; */
	font-size: var(--calendarcellform-footer-text-size);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex: 1;
}

.calendarcellform-buttons {
	display: flex;
	flex-direction: column;
}

.calendarcellform-btn {
	font-size: var(--calendarcellform-btn-text-size);
	font-family: var(--btn-font-family);
	background-color: var(--btn-bg-color);
	border-radius: var(--btn-border-radius);
	border-width: var(--btn-border-width);
	border-style: var(--btn-border-style);
	border-color: var(--btn-border-color);
	height: 2rem;
	width: 50%;
	font-weight: var(--btn-font-weight);
	color: var(--btn-text-color);
	align-self: center;
	margin-top: 20px;
}

.calendarcellform-btn:hover {
	cursor: pointer;
	color: var(--btn-hover-text-color);
	background-color: var(--btn-hover-bg-color);
}

.calendarcellform-btn:active {
	transform: translate(1px, 1px);
}

.calendarcellform-add-controls {
	display: flex;
	gap: 2rem;
}

.calendarcellform-input {
	font-family: var(--btn-font-family);
	height: 1.5rem;
	width: 100%;
	border-color: transparent;
	border-radius: 4px;
}

/* To hide up/down arrows from input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
