.calendar-base {
  background-color: var(--calendar-base-bg-color);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: var(--base-font-family);
}

.calendar-header {
  background-color: var(--calendar-header-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--calendar-header-height);
  font-size: 0.85rem;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 10;
  gap: 30px;
}

.calendar-month {
  display: flex;
  justify-content: center;
  width: 15%;
}

.calendar-nav-btn {
  background-color: rgb(117, 117, 117);
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  height: 40%;
  width: 2%;
  font-weight: bold;
  color: white;
}

.calendar-nav-btn:hover {
  cursor: pointer;
  color: black;
  background-color: rgb(206, 203, 203);
}

.calendar-body {
  /* background-color: yellow; */
  width: 100%;
  flex: 1;
  display: flex;
  align-self: center;
}
