.submitform-base {
    background-color: rgb(214, 209, 209);
    height: 60vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px;
}

.submitform-group {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-align: center;
    padding: 2%;
}

input[type="text"],
input[type="submit"] {
  width: 300px;
  padding: 8px;
  font-size: 1rem;
  border: 2px solid #333;
  border-radius: 4px;
  box-sizing: border-box;
}